/* AY Navbar Logo */
.navbar-brand {color: var(--Gray-800, #000000);
font-family: 'Gruppo', serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;}

.nav-link {color:#3A50F8;
font-family: 'Lato';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: right;}



/* AY HI Heading */
h1 {color: var(--Gray-800, #000000);
font-family: 'Lato', serif;
font-size: 62px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;}

h1 {background-color: rgb(207, 226, 255);
padding: 45px}

/* AY H2 Heading */
h2 {color: #052C65;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-align: center;}

/* AY H3 Heading */
h3 {color: #000000;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-align: left;}

/* AY H4 Heading */
h4 {color: #000000;
font-family: 'Lato';
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-align: center;}

.btn {background-color: #3A50F8;}

.AboutMe {background-color: rgb(207, 226, 255);
padding: 45px;
align-content: center;}

.Process {background-color: rgb(207, 226, 255);
padding: 45px;
align-content: center;}

/* AY Secondary Project Heading */
h5 {color: #3A50F8;
font-family: 'Lato';
font-size: 24px;
font-style: italic;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-align: center;}

/* AY Body Text */
p {color: #000000;
font-family: 'Inria Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 116.667% */}

/* About Me Body Text */
p2 {color: #000000;
font-family: 'Inria Sans';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 116.667% */
text-align: center}

p3 
{color: #000000;
font-family: 'Inria Sans';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 116.667% */
text-align: center}

p4
{color: #4a4a4a;
font-family: 'Inria Sans';
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 28px; /* 116.667% */
text-align: center}

.footer {background-color: #f3f4ff;}
