/* AY HI Heading */
h1 {color: var(--Gray-800, #000000);
font-family: 'Gruppo', serif;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;}

/* AY H2 Heading */
h2 {color: var(--Gray-800, #000000);
font-family: Krub;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;}

/* AY Body Text */
p {color: #000000;
font-family: "Inria Sans";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 116.667% */}